# bundler state
/.bundle
/vendor/bundle/

# minimal Rails specific artifacts
db/*.sqlite3
/log/*
tmp/*

# various artifacts
*.sassc
.sass-cache
/public/cache
/public/stylesheets/compiled
/public/system
/cache
/gems

# vim artifacts
**.swp

#ubuntu artifacts
*.*~
*~
