html {
  background-color: #efefef;
  font-family: $brand-face;
}

body {
  color: #464646;
  & a, & a:link, & a:visited {
    color: #e6624e;
    text-decoration: none;
  }
  & a:hover {
    color: #000;
    background-color: #f4f2e4;
    border-bottom: 1px solid #9a8e51;
  }
}

/**
*Set a padding for the container
*/

$column: 100%/18;
.container {
  padding: 0 $column 0 $column;
  .gw,
  .grid-wrapper{
   margin-left: 0;
   padding-left: 0;
  }
  .g,
  .grid{
    @include rem(padding-left, 0, #{($base-line-height/2)/$base-font-size})
  }
}
