<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
          <% if @path == 'index' %>
            orthodoc
          <% elsif @path.split('/').compact.length == 4 %>
            <%= title %> - orthodoc
          <% else %>
            <%= @path.capitalize.gsub(/[-]/, ' ') %> - orthodoc
          <% end %>
        </title>
        <meta name="description" content="<%= @context[:description] || 'Default description' %>">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link href='http://fonts.googleapis.com/css?family=Ubuntu|Convergence' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/orthodoc.min.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="container">
          <header>
          </header>
          <section>
            <%= yield %>
          </section>
          <div class="grid-wrapper">
            <div class="grid one-whole">
              <footer>
                <p>
                  <!--[if lte IE 8]>   
                    <span class="copyleft-ie">&copy;</span>
                  <![endif]-->
                  <span class="copyleft">&copy;</span> Copyleft 
                    <% if (Time.now.year - 2013) > 0 %>
                      2013 - <%= Time.now.year %>.
                    <% else %>
                      <%= Time.now.year %>.
                    <% end %>
                    Biswajit Dutta Baruah. Powered by <a href="http://clouhead.io/toto">toto</a> and <a href="http://inuitcss.com">inuitcss</a>.
                </p>
                <p>Design inspired by <a href="http://freegeek.in">freegeek</a> and <a href="http://alistapart.com">a list apart</a>.
                </p>
              </footer>
            </div>
          </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Refers to the golden gridlet by Joni Korpi for grid based design
        More at: http://bit.ly/qnMyw2 -->
        <script src="js/vendor/ggs.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-37707347-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
